body{
    font-size: 20px;
}

input{
    margin-top: 10px;
    margin-right: 5px;
    min-height: 30px;
    max-height: 50px;
    font-size: 20px;
    max-width: 150px;
    min-width: 50px;
    text-align: center;
}

